

.exs{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #563437; 
    text-align: center;
    margin-bottom: 100px;
}



/* Services */



/* Icons */

.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 40px;
}

.pic{
    width: 75px;
}


/*Description */

.txt{
    position: absolute;
    margin-top: -70px;
    margin-left: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #563437;
}



.ret{
height: 80px;
width: 100px;
}

.del{
    height: 90px;
    margin-left: 520px;

}

.free{
    height: 90px;
    margin-left: 1000px;
}